@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #918f8f;
    border-radius: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee;
    cursor: pointer;
}